<p id="notice"><%= notice %></p>

<p>
  <strong>Nivel cariera:</strong>
  <%= @job.nivel_cariera %>
</p>

<p>
  <strong>Descriere:</strong>
  <%= @job.descriere %>
</p>

<p>
  <strong>Competente obligatorii:</strong>
  <%= @job.competente_obligatorii %>
</p>

<p>
  <strong>Competente optionale:</strong>
  <%= @job.competente_optionale %>
</p>

<p>
  <strong>Beneficii:</strong>
  <%= @job.beneficii %>
</p>

<%= link_to 'Edit', edit_job_path(@job) %> |
<%= link_to 'Back', jobs_path %>
