<%= form_for(@company) do |f| %>
  <% if @company.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@company.errors.count, "error") %> prohibited this company from being saved:</h2>

      <ul>
      <% @company.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nume %><br>
    <%= f.text_field :nume %>
  </div>
  <div class="field">
    <%= f.label :poza %><br>
    <%= f.text_field :poza %>
  </div>
  <div class="field">
    <%= f.label :adresa_contact %><br>
    <%= f.text_field :adresa_contact %>
  </div>
  <div class="field">
    <%= f.label :numar_angajati %><br>
    <%= f.number_field :numar_angajati %>
  </div>
  <div class="field">
    <%= f.label :pagina_web %><br>
    <%= f.text_field :pagina_web %>
  </div>
  <div class="field">
    <%= f.label :descriere %><br>
    <%= f.text_area :descriere %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
