<p id="notice"><%= notice %></p>

<p>
  <strong>Nume:</strong>
  <%= @company.nume %>
</p>
<p>
  <strong>Poza:</strong>
  <img src = "<%= @company.poza %>" />
</p>
<p>
  <strong>Adresa de contact:</strong>
  <%= @company.adresa_contact %>
</p>
<p>
  <strong>Numar angajati:</strong>
  <%= @company.numar_angajati %>
</p>

<p>
  <strong>Pagina web:</strong>
  <%= @company.pagina_web %>
</p>

<p>
  <strong>Descriere:</strong>
  <%= @company.descriere %>
</p>

<%= link_to 'Edit', edit_company_path(@company) %> |
<%= link_to 'Back', companies_path %>
